@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  -webkit-overflow-scrolling: touch;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  scroll-behavior: smooth;
  font-variant-ligatures: common-ligatures contextual discretionary-ligatures;
  font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'dlig';
  font-kerning: normal;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}

#root {
  overflow: auto;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  background: #f0f0f0;
}

#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: #fee8cd;
  position: fixed;
  z-index: 199999939; /* index to override what is set for sticky nav */
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}
/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  z-index: 199999939; /* index to override what is set for sticky nav */
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow:
    0 0 30px rgba(117, 28, 10, 0.7),
    0 0 5px rgba(237, 147, 89, 0.7);
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner {
  background: #001a0e;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

svg {
  fill: #ddd;
  -webkit-text-fill-color: transparent;
}

h1 {
  background: linear-gradient(30deg, #119d0f, #ffcc70);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.show-md {
  display: none;
}

.show-xl {
  display: block;
}

@media (max-width: 600px) {
  .show-md {
    display: block;
  }

  .show-xl {
    display: none;
  }
}
.libre-baskerville-regular {
  font-family: 'Big Shoulders Text', serif;
  font-style: normal;
}

.big-shoulders-text-normal {
  font-family: 'Big Shoulders Text', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
